.page-order{
			position:relative;
		}
		/* .page-order span{
			float:left;
		} */
		.page-order .tcBtn,.thBtn{
			float:right;
		}
		.tcBtn,.thBtn{
			border: none;
			background: #26c6da;
			color: #fff;
			padding: .04rem .18rem .04rem 0;
			border-radius: .08rem;
			position: relative;
			width: 1.32rem;;
			text-align: right;
			margin-left: 0.2rem;
			display:none;
			height:25px;
		}
		.tcIcon{
			 display:inline-block; 
			width:.48rem;
			height:.48rem; 
			background:url(../img/tuceng.png) left top;
			background-size: 100%; 
			vertical-align:middle;
			position: absolute;
			left:.08rem;
			top: 0;
		}
		.repalceIcon{
			 display:inline-block; 
			width:.48rem;
			height:.48rem; 
			background:url(../img/replace.svg) left top;
			background-size: 100%; 
			vertical-align:middle;
			position: absolute;
			left:.08rem;
			top: 0;
		}
		.thIcon{
			display:inline-block;
			width:.28rem;
			height:.28rem; 
			background:url(../img/genghuan.png) left top;
			background-size: 100%; 
			vertical-align:middle;
			position: absolute;
			left: 0.16rem;
			top: 0.11rem;
		}
		.page-order p{
			position:absolute;
			top:-30px;
			width:202px;
			color:#FFF;
			background:#FFC44C;
			left:29%;
			border:1px solid #eee;
			padding:0 10px;
			border-radius:5px;
			box-shaow:1px 3px 9px #999;
			display: none;
		}
		.thBtn{
			background:#26C6DA;
			color:#fff;
			width:.7rem;
		}